.resultsPageContainer{
    padding: 3rem;
    height: 100%;
    overflow-y: scroll;
}

.resultRow {
    padding-bottom: 3rem;

    .timestamp {
        font-size: 2rem;
        font-weight: 1rem;
        padding-bottom: 1rem;
    }
}

.buttonLink {
    padding: 0;
    margin: 0;
    font-weight: normal;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
}