.table {
    border-top: 1px solid #4592b0;
    width: calc(100% - 4rem);
    margin: 2rem;
    font-size: 1.4rem;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 150px;
}

.header {
    color: #0c3450;
}

.headerText {
    font-size: 2.2rem;
}

th {
    width: 20rem;
    text-align: left;
    font-weight: normal;
    padding: 10px 0 10px 8px;
    border-bottom: 1px solid #4592b0;
}

tr {
    &:nth-of-type(odd) {
        background-color: transparent;
    }

    &:nth-of-type(even) {
        background-color: hsl(0, 0%, 95%);
    }
}

.td {
    vertical-align: top;
    padding: 2rem;
    line-height: 2.6rem;
    font-family: 'robotomedium', sans-serif;
    font-size: 1.5rem;
    width: 20rem;
}

td {
    line-height: 3rem;

    p {
        margin-top: 0;
        line-height: 2.4rem;
    }

    h1 {
        font-size: 2rem;
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    h2 {
        font-weight: 300;
        font-size: 1.8rem;
        margin: 0;
        margin-bottom: 1rem;
    }

    h3 {
        margin: 0;
    }

    >   div {
        padding: 1.8rem;
    }

    ol {
        margin: 0;
        padding-left: 2rem;
        margin-bottom: 3rem;
    }

    ul {
        list-style: disc;
        padding-left: 2rem;
        margin-bottom: 2rem;
    }

    table {
        border: 1px solid black;
        margin: 2rem 0 !important;
        border-collapse: collapse; 

        th {
            padding: 8px;
            border: 1px solid black;
        }

        td {
            border: 1px solid black; 
            padding: 8px;     
        }
    }

    img, video {
        margin: 2.6rem 0;
    }

}

img {
    max-width: 75%;
}