.resultsPageContainer{
    padding: 3rem;
    height: 100%;
    overflow-y: scroll;
}

.buttonLink {
    padding: 0;
    margin: 0;
    font-weight: normal;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
}