.runTestsPageContainer {
    padding: 3rem;
}

.newTestContainer {
    position: relative;

    .newTest {
        height: 2rem;
        width: 2rem;
        margin-left: 3rem;
        transition: transform .25s ease;
        background: url('data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJwbHVzIiBjbGFzcz0ic3ZnLWlubGluZS0tZmEgZmEtcGx1cyBmYS13LTE0IiByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDQ0OCA1MTIiPjxwYXRoIGZpbGw9IiMxNjU4NzQiIGQ9Ik00MTYgMjA4SDI3MlY2NGMwLTE3LjY3LTE0LjMzLTMyLTMyLTMyaC0zMmMtMTcuNjcgMC0zMiAxNC4zMy0zMiAzMnYxNDRIMzJjLTE3LjY3IDAtMzIgMTQuMzMtMzIgMzJ2MzJjMCAxNy42NyAxNC4zMyAzMiAzMiAzMmgxNDR2MTQ0YzAgMTcuNjcgMTQuMzMgMzIgMzIgMzJoMzJjMTcuNjcgMCAzMi0xNC4zMyAzMi0zMlYzMDRoMTQ0YzE3LjY3IDAgMzItMTQuMzMgMzItMzJ2LTMyYzAtMTcuNjctMTQuMzMtMzItMzItMzJ6Ij48L3BhdGg+PC9zdmc+') no-repeat center center;
        cursor: pointer;

        &:hover {
            transform: scale(1.25);
            transition: transform .25s ease;
        }
    }
}

.runningTests {
    margin-top: 8rem;
}

.buttonLink {
    padding: 0;
    margin: 0;
    font-weight: normal;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
  }
  